<!DOCTYPE html>
<html>

<head>
  <title>formdata</title>
</head>

<body>
  <p>Entered data:</p>
  <p>
    Name: <%= name %><br>
    Surname: <%= surname %><br>
    Age: <%= age %>
  </p>
  <a href="http://localhost:3000/form">Return</a>
</body>

</html>